.wrapper-sell .sell, .resently-top .wrapper-name__title, .resently-top .wrapper-name__subtitle, .cards__title, .content-wrapper, .header .content-wrapper, .header .nav {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

div,
form,
a,
p,
ul,
li,
span,
button,
input {
  box-sizing: border-box;
}

html {
  font-size: 0.694vw;
}

body {
  background: #141118;
  color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 7.6rem;
  font-family: "Segoe UI Bold", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

p {
  font-size: 2rem;
  font-family: "Segoe UI Regular", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}

ul li {
  list-style: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.wrapper-sell .sell, .resently-top .wrapper-name__title, .resently-top .wrapper-name__subtitle, .cards__title, .content-wrapper, .header .content-wrapper, .header .nav {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url("../fonts/SegoeUI.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("../fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: 700;
}
.container {
  width: 114rem;
  margin: 0 auto;
}

.header {
  padding: 5.1rem 0;
}
.header .logo {
  width: 8.9rem;
}
.header .nav {
  width: 30rem;
}
.header .connect {
  background: #141118;
  position: relative;
  border-radius: 1rem;
  background-clip: padding-box;
}
.header .connect::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #ff1f8a, #ff3eec);
  z-index: -1;
  border-radius: 1rem;
  top: -0.23rem;
  bottom: -0.23rem;
  left: -0.23rem;
  right: -0.23rem;
}
.header .connect__btn p {
  padding: 1.5rem 2.5rem;
}
.header .content-wrapper {
  align-items: center;
}

.main .wrapper {
  margin-top: 2rem;
}
.main .subtitle {
  width: 33.8rem;
  margin-top: 3rem;
}

.hero {
  position: relative;
}
.hero__title {
  width: 66.1rem;
}
.hero__btn {
  position: relative;
  z-index: 1;
  width: 16.3rem;
  border-radius: 1rem;
  backdrop-filter: blur(0.6rem);
  background: linear-gradient(180deg, #ff3eec 0%, rgba(127, 52, 173, 0) 142.73%);
}
.hero__btn a p {
  height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper-btn {
  display: block;
  position: absolute;
  top: 23rem;
  right: 27rem;
}
.wrapper-btn::after {
  content: "";
  z-index: -1;
  width: 13.5rem;
  height: 3rem;
  top: 2.3rem;
  right: 1.5rem;
  position: absolute;
  background: #ea5bdb;
  backdrop-filter: blur(0.25rem);
  border-radius: 1rem;
}

.wrapper-card {
  margin-top: 5rem;
}

.cards {
  position: relative;
}
.cards::after {
  content: "";
  z-index: -1;
  width: 13.5rem;
  height: 10rem;
  top: 30.6rem;
  right: 10rem;
  position: absolute;
  background: #ea5bdb;
  backdrop-filter: blur(0.25rem);
  opacity: 0.75;
  border-radius: 1rem;
}
.cards__item {
  padding: 2.2rem 2.7rem 1.7rem;
  width: 35rem;
  color: #f2f2f2;
  backdrop-filter: blur(4rem);
  border-radius: 1rem;
  background: radial-gradient(60.81% 29.27% at 50.14% 10.49%, rgba(234, 91, 219, 0.8) 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), radial-gradient(99.32% 47.8% at 49.86% 94.63%, #ea5bdb 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #1b1b1b 0%, #000000 100%);
}
.cards__subtitle {
  margin-top: 1.3rem;
}
.cards__subtitle p {
  font-size: 1.6rem;
}
.cards__subtitle-numder_user {
  padding-right: 3rem;
  background: url(../img/verification.svg) no-repeat right center;
  background-size: contain;
}
.cards .wrapper {
  padding: 1.5rem 0.5rem 0;
  margin-top: 0;
}

.cards.bottom {
  margin-top: 17.4rem;
}

.cards.top {
  margin-top: -17.4rem;
}

.wrapper-cost {
  position: absolute;
  right: 15rem;
  top: 84rem;
}
.wrapper-cost .content-wrapper.grid {
  display: grid;
  gap: 9rem;
}
.wrapper-cost .content-wrapper.grid .cost.bottom-right {
  grid-column: 2/2;
  grid-row: 2/2;
}
.wrapper-cost .content-wrapper.grid .cost.bottom-left {
  grid-column: 1/2;
  grid-row: 2/2;
}
.wrapper-cost .content-wrapper.grid .cost.top-right {
  grid-column: 2/2;
  grid-row: 1/2;
}
.wrapper-cost .cost__title h2 {
  color: #ea5bdb;
  font-size: 3.8rem;
  margin-bottom: 0.5rem;
}
.wrapper-cost .cost__subtitle, .wrapper-cost .cost__title {
  text-align: right;
}

.contrib {
  margin-top: 12rem;
}
.contrib__place-Bitcoin {
  background: url(../img/supports/icon1.svg) no-repeat left;
}
.contrib__place-Etherum {
  background: url(../img/supports/icon2.svg) no-repeat left;
}
.contrib__place-Dfinity {
  background: url(../img/supports/icon3.svg) no-repeat left;
}
.contrib__place-BitcoinCash {
  background: url(../img/supports/icon4.svg) no-repeat left;
}
.contrib__place-Cryptocom {
  background: url(../img/supports/icon5.svg) no-repeat left;
}
.contrib__place-Bitcoin, .contrib__place-Etherum, .contrib__place-Dfinity, .contrib__place-BitcoinCash, .contrib__place-Cryptocom {
  background-size: contain;
}
.contrib__name {
  padding: 2.85rem 0 2.85rem 10rem;
}
.contrib__name.Bitcoin {
  padding-left: 13rem;
}

.tranding {
  margin-top: 8rem;
}
.tranding__subtitle {
  width: 52.6rem;
  margin-top: 1.5rem;
}

.owl-carousel {
  margin-top: 6rem;
}

.owl-item {
  margin-top: 4rem;
  background: linear-gradient(90.38deg, #141118 0.54%, rgba(0, 0, 0, 0) 50.35%), linear-gradient(270deg, #141118 -4.58%, rgba(0, 0, 0, 0) 49.86%), radial-gradient(126.68% 60.98% at 46.7% 83.17%, #ea5bdb 0%, rgba(69, 47, 67, 0) 100%);
}
.owl-item__img {
  width: auto;
  min-height: 47rem;
  display: flex;
}
.owl-item__img img {
  transition: 1s ease-in-out;
}
.owl-item__img img:hover {
  margin-top: -10rem;
  transform: scale(1.1);
}

.NFT-carousel {
  position: relative;
}
.NFT-carousel .container:last-child {
  width: auto;
}
.NFT-carousel .wrapper-btn {
  top: 81rem;
  right: 63.3rem;
}

.visible {
  width: 13.5rem;
  height: 1rem;
  opacity: 0.75;
  backdrop-filter: blur(0.25rem);
  background-color: #ea5bdb;
  border-radius: 0 0 1rem 1rem;
  position: absolute;
  right: 45%;
  margin-top: -1.2rem;
}

.recently {
  text-align: center;
  margin-top: 18.7rem;
}
.recently__subtitle {
  width: 53.5rem;
  margin: 4rem auto 0;
}

.resently-top.content-wrapper {
  align-items: center;
}

.resently-top {
  margin-top: 17rem;
  position: relative;
}
.resently-top::after {
  content: "";
  z-index: -1;
  width: 13.5rem;
  height: 11.3rem;
  bottom: -0.7rem;
  right: 44%;
  position: absolute;
  background: #ea5bdb;
  backdrop-filter: blur(0.25rem);
  border-radius: 1rem;
  opacity: 0.75;
}
.resently-top__item {
  width: 33.8rem;
  max-height: 25.4rem;
  border-radius: 1rem;
  backdrop-filter: blur(1.5rem);
  background: radial-gradient(100% 367.85% at 0% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
}
.resently-top__item.center {
  min-height: 35.4rem;
}
.resently-top__item-number {
  width: 14.8rem;
  padding-top: 13.9rem;
  margin: -12.9rem auto 0;
}
.resently-top__item-number h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 9rem;
}
.resently-top .third {
  background: url(../img/resently-top/img1.svg) no-repeat center;
}
.resently-top .second {
  background: url(../img/resently-top/img3.svg) no-repeat center;
}
.resently-top .first {
  background: url(../img/resently-top/img2.svg) no-repeat center;
  padding-top: 23.5rem;
  margin-top: -17rem;
}
.resently-top .wrapper-name {
  padding: 1rem 2rem;
  margin: 2.3rem 3.1rem;
  border-radius: 1rem;
  backdrop-filter: blur(2.25rem);
  color: #ffffff;
  background: radial-gradient(142.75% 525.12% at 50% 0%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
}
.resently-top .wrapper-name__subtitle > div p {
  font-size: 1.6rem;
  color: #f2f2f2;
  opacity: 0.7;
}

.first,
.second,
.third {
  background-size: contain !important;
}

.wrapper-sell {
  margin-top: 12rem;
}
.wrapper-sell .sell {
  align-items: center;
}
.wrapper-sell .sell__title h2 {
  font-size: 4.8rem;
}

.btn {
  position: relative;
}
.btn a {
  padding: 0 2.5rem 0 0;
  background: radial-gradient(146.11% 537.47% at 100% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
  backdrop-filter: blur(1.5rem);
  border-radius: 1rem;
  display: block;
}
.btn a p {
  padding: 1.7rem 3rem;
  background: url(../img/arrow-right.svg) no-repeat right center;
}
.btn::after {
  content: "";
  z-index: -1;
  width: 6rem;
  height: 4.4rem;
  bottom: -0.7rem;
  right: 30%;
  position: absolute;
  background: #ea5bdb;
  backdrop-filter: blur(0.25rem);
  border-radius: 1rem;
  opacity: 0.85;
}

.sell-NTFs {
  margin-top: 12rem;
  position: relative;
}
.sell-NTFs::after {
  content: "";
  z-index: -1;
  width: 23.7rem;
  height: 11.3rem;
  bottom: -0.7rem;
  right: 40%;
  position: absolute;
  background: #ea5bdb;
  backdrop-filter: blur(0.25rem);
  border-radius: 1rem;
  opacity: 0.75;
}
.sell-NTFs__item {
  width: 33.8rem;
  height: 25.4rem;
  text-align: center;
  background: radial-gradient(100% 367.85% at 0% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
  border-radius: 1rem;
  backdrop-filter: blur(1.5rem);
}
.sell-NTFs__title {
  padding-top: 17rem;
}
.sell-NTFs .third {
  background: url(../img/sell-NTFs/img3.png) no-repeat top center;
}
.sell-NTFs .second {
  background: url(../img/sell-NTFs/img1.png) no-repeat top center;
}
.sell-NTFs .first {
  background: url(../img/sell-NTFs/img2.png) no-repeat top center;
}
.sell-NTFs__subtitle {
  padding: 2.1rem 1.2rem;
}
.sell-NTFs__subtitle p {
  font-size: 1.6rem;
  opacity: 0.8;
}

.center {
  background: radial-gradient(207.73% 100% at 57.1% 100%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
  backdrop-filter: blur(4rem);
}

.resently-top__item:last-child,
.sell-NTFs__item:last-child {
  background: radial-gradient(100% 367.85% at 100% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
}

.footer {
  background-color: #251f29;
  padding: 4rem 0 5rem;
  margin-top: 17.5rem;
}

.sing-up__title h3 {
  font-size: 2.5rem;
}
.sing-up__subtitle {
  margin-top: 1.5rem;
}
.sing-up__subtitle p {
  font-size: 1.6rem;
  opacity: 0.8;
}
.sing-up .btn {
  padding-right: 2rem;
  z-index: 1;
}
.sing-up .btn p {
  padding: 1rem 3rem;
}
.sing-up .btn::after {
  right: 40%;
  height: 3.8rem;
  bottom: -0.35rem;
}
.sing-up .send {
  position: relative;
  display: flex;
  margin-top: 3rem;
}
.sing-up .send input[type=submit] {
  position: absolute;
  opacity: 0.0001;
  top: 0;
  right: 4.5%;
  height: 4.8rem;
  width: 15.5rem;
  border-radius: 1rem;
  z-index: 2;
}
.sing-up .send input[type=email] {
  font-family: "Segoe UI Regular";
  font-weight: normal;
  color: #f2f2f2;
  font-size: 1.6rem;
  margin-right: 2rem;
  padding-left: 1.5rem;
  width: 25rem;
  height: 5rem;
  border: 0.2rem solid rgba(242, 242, 242, 0.2);
  border-radius: 1rem;
  background-color: #251f29;
}
.sing-up .send input[type=email]::placeholder {
  font-family: "Segoe UI Regular";
  font-weight: normal;
  color: #f2f2f2;
  opacity: 0.2;
  font-size: 1.6rem;
}

.link-footer li:not(.link-footer__title) {
  opacity: 0.8;
}
.link-footer li:not(.link-footer__title) a p {
  font-size: 1.6rem;
  margin-top: 1rem;
}
.link-footer li:first-child {
  margin-bottom: 1.7rem;
}
.link-footer__title p {
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
