@import "_normalize";
@import "_variables";

@font-face {
    font-family: "Segoe UI Regular";
    src: url("../fonts/SegoeUI.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("../fonts/SegoeUI-Bold.woff") format("woff");
    font-weight: 700;
}

.container {
    width: 114rem;
    margin: 0 auto;
}

// header
.header {
    padding: 5.1rem 0;
    .logo {
        width: 8.9rem;
    }
    .nav {
        @extend %wrapper;
        width: 30rem;
    }
    .connect {
        background: #141118;
        position: relative;
        border-radius: 1rem;
        background-clip: padding-box;
        &::after {
            position: absolute;
            content: "";
            background: linear-gradient(to right, #ff1f8a, #ff3eec);
            z-index: -1;
            border-radius: 1rem;
            top: -0.23rem;
            bottom: -0.23rem;
            left: -0.23rem;
            right: -0.23rem;
        }
        &__btn p {
            padding: 1.5rem 2.5rem;
        }
    }
    .content-wrapper {
        @extend %wrapper;
        align-items: center;
    }
}
.content-wrapper {
    @extend %wrapper;
}

// main

.main {
    .wrapper {
        margin-top: 2rem;
    }
    .subtitle {
        width: 33.8rem;
        margin-top: 3rem;
    }
}
.hero {
    position: relative;
    &__title {
        width: 66.1rem;
    }
    &__btn {
        position: relative;
        z-index: 1;
        width: 16.3rem;
        border-radius: 1rem;
        backdrop-filter: blur(0.6rem);
        background: linear-gradient(180deg, #ff3eec 0%, rgba(127, 52, 173, 0) 142.73%);
        a p {
            height: 4.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .wrapper-btn {
        display: block;
        position: absolute;
        top: 23rem;
        right: 27rem;
        &::after {
            content: "";
            z-index: -1;
            width: 13.5rem;
            height: 3rem;
            top: 2.3rem;
            right: 1.5rem;
            position: absolute;
            background: $primary-color;
            backdrop-filter: blur(0.25rem);
            border-radius: 1rem;
        }
    }
}

.wrapper-card {
    margin-top: 5rem;
}

.cards {
    position: relative;
    &::after {
        content: "";
        z-index: -1;
        width: 13.5rem;
        height: 10rem;
        top: 30.6rem;
        right: 10rem;
        position: absolute;
        background: $primary-color;
        backdrop-filter: blur(0.25rem);
        opacity: 0.75;
        border-radius: 1rem;
    }
    &__item {
        padding: 2.2rem 2.7rem 1.7rem;
        width: 35rem;
        color: #f2f2f2;
        backdrop-filter: blur(4rem);
        border-radius: 1rem;
        background: radial-gradient(
                60.81% 29.27% at 50.14% 10.49%,
                rgba(234, 91, 219, 0.8) 0%,
                rgba(104, 64, 100, 0) 100%,
                rgba(255, 255, 255, 0) 100%
            ),
            radial-gradient(
                99.32% 47.8% at 49.86% 94.63%,
                #ea5bdb 0%,
                rgba(104, 64, 100, 0) 100%,
                rgba(255, 255, 255, 0) 100%
            ),
            linear-gradient(180deg, #1b1b1b 0%, #000000 100%);
    }
    &__title {
        @extend %wrapper;
    }
    &__subtitle {
        margin-top: 1.3rem;
        p {
            font-size: calc($font-p - 0.4rem);
        }
    }
    &__subtitle-numder_user {
        padding-right: 3rem;
        background: url(../img/verification.svg) no-repeat right center;
        background-size: contain;
    }
    .wrapper {
        padding: 1.5rem 0.5rem 0;
        margin-top: 0;
    }
}
.cards.bottom {
    margin-top: 17.4rem;
}
.cards.top {
    margin-top: -17.4rem;
}

.wrapper-cost {
    position: absolute;
    right: 15rem;
    top: 84rem;
    .content-wrapper.grid {
        display: grid;
        gap: 9rem;
        .cost.bottom-right {
            grid-column: 2/2;
            grid-row: 2/2;
        }
        .cost.bottom-left {
            grid-column: 1/2;
            grid-row: 2/2;
        }
        .cost.top-right {
            grid-column: 2/2;
            grid-row: 1/2;
        }
    }
    .cost {
        &__title h2 {
            color: $primary-color;
            font-size: calc($font-h/2);
            margin-bottom: 0.5rem;
        }
        &__subtitle,
        &__title {
            text-align: right;
        }
    }
}

// supports

.contrib {
    margin-top: 12rem;
    &__place-Bitcoin {
        background: url(../img/supports/icon1.svg) no-repeat left;
    }
    &__place-Etherum {
        background: url(../img/supports/icon2.svg) no-repeat left;
    }
    &__place-Dfinity {
        background: url(../img/supports/icon3.svg) no-repeat left;
    }
    &__place-BitcoinCash {
        background: url(../img/supports/icon4.svg) no-repeat left;
    }
    &__place-Cryptocom {
        background: url(../img/supports/icon5.svg) no-repeat left;
    }
    &__place-Bitcoin,
    &__place-Etherum,
    &__place-Dfinity,
    &__place-BitcoinCash,
    &__place-Cryptocom {
        background-size: contain;
    }
    &__name {
        padding: 2.85rem 0 2.85rem 10rem;
    }
    &__name.Bitcoin {
        padding-left: 13rem;
    }
}

// NFT-carousel

.tranding {
    margin-top: 8rem;
    &__subtitle {
        width: 52.6rem;
        margin-top: 1.5rem;
    }
}
.owl-carousel {
    margin-top: 6rem;
}
.owl-item {
    margin-top: 4rem;
    background: linear-gradient(90.38deg, #141118 0.54%, rgba(0, 0, 0, 0) 50.35%),
        linear-gradient(270deg, #141118 -4.58%, rgba(0, 0, 0, 0) 49.86%),
        radial-gradient(126.68% 60.98% at 46.7% 83.17%, #ea5bdb 0%, rgba(69, 47, 67, 0) 100%);
    &__img {
        width: auto;
        min-height: 47rem;
        display: flex;
        img {
            transition: 2s ease-in-out;
            &:hover {
                margin-top: -10rem;
                transform: scale(1.1);
            }
        }
    }
}

.NFT-carousel {
    .container:last-child {
        width: auto;
    }
}
